name: Send News

on:
  schedule:
    - cron: '*/12 * * * *'  # This cron expression runs every 12 minutes

jobs:
  scrape-and-send-news:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run scraper
      env:
        DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      run: |
        python scraper.py  # Ensure your scraper is correctly implemented and fetching the latest news

    - name: Run the telegram connector script
      env:
        BOT_API_TOKEN: ${{ secrets.BOT_API_TOKEN }}
        CHANNEL_ID: ${{ secrets.CHANNEL_ID }}
        DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      run: |
        python telegram_connector.py  # Sends the scraped news to Telegram
